<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Home</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">

  <style>
    /* navbar */
    .input-group {
      width: 40%;
    }

    #item {
      width: 20px;
    }
    p{
        font-size: 20px;
    }


    @media (max-width: 768px) {
      
      
     .img-container img{
        width: 100%;
        padding: 2%;
       
         
      }
      .navtext{
        text-align: center;
        width: 100%;
        
        
      }
    }
    .navsetting {
    padding-right: 5%;
    
  }

  </style>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-info shadow-lg">
    <a class="navbar-brand mr-5 text-light" href="#"><h3 style="font-family: 'Chakra Petch', sans-serif;">Library Management</h3></a>
    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  nav-pills ">
        <li class="nav-item mr-auto px-3 navtext">
          <a class="nav-link  text-white   text-center p-2" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"
            href="{% url 'libraryhomePage' %}">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-auto px-3 navtext">
          <a class="nav-link text-white  text-center p-2"
            href="{% url 'libraryhomeBooks' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>BOOKS</b></a>
        </li>
        <li class="nav-item mr-auto px-3 navtext">
          <a class="nav-link text-white bg-dark active  text-center p-2"
            href="{% url 'libraryhomeAboutPage' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>ABOUT</b></a>
        </li>
        <li class="nav-item mr-auto px-3 navtext">
          <a class="nav-link text-white  text-center p-2"
            href="{% url 'libraryhomeContactPage' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>CONTACT</b></a>
        </li>
      </ul>





      <div class="ml-auto navsetting">
        <ul class="navbar-nav navtext">

          <li class="nav-item dropdown navtext">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'images/setting.gif' %}" width="40px" height="40px" alt="">
            </a>
            <div class="dropdown-menu bg-info border-dark mx-auto text-center" id="item" aria-labelledby="navbarDropdown">
              <a class="dropdown-item bg-info text-white" href="{% url 'loginPage' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>LOGIN</b></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar -->

 
<br><br>
  <div class="container-fluid">
    <h1 class="text-info">ABOUT US</h1>
    

   <div class="img-container">

   
    <img src="{% static 'images/lib.webp' %}" width="280px" height="250px" alt="" style="float: right; " class="pt-4 rounded img-fluid">
  </div>
    <hr>


    <div class=" mt-3">

      <p> A <b>Library Management System</b> is software that is designed to manage all the functions of a library. It helps librarian to maintain the database of new books and the books that are borrowed by members along with their due dates.

        This system completely automates all your library’s activities. The best way to maintain, organize, and handle countless books systematically is to implement a library management system software.
        
       </p>
       <p>A  <b>Library Management System</b> is used to maintain library records. It tracks the records of the number of books in the library, how many books are issued, or how many books have been returned or renewed or late fine charges, etc.
        
        You can find books in an instant, issue/reissue books quickly, and manage all the data efficiently and orderly using this system. The purpose of a library management system is to provide instant and accurate data regarding any type of book, thereby saving a lot of time and effort.
      </p>
      <p>
        The acquisition & cataloguing module of the library management system enables the librarian to select & buy books, journals, and other resources and create a database of the same for easy book search.
      </p>
      <p>Keeping a thorough database of the members, the Management System stores each user's name, ID, and password for aiding in determining the member's history. The software is user-friendly and improves the effectiveness of the librarian and library administration.</p>
    </div>
    <br>
  
    </div>


  </div>


<br>
<br>
<br>
<br>
<br><br><br>
<hr>

<footer class="bg-shadow mt-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 mx-auto">
        <h4 class="text-info mb-3">ABOUT US</h4>
        <p class="text-dark">A Library Management System is software that is designed to manage all the functions of a library</p>


      </div>

    

      <div class="col-md-3 col-lg-3 mx-auto">
        <h4 class="text-info mb-3">&nbsp;SOCIALS</h4>
      
          <img src="{% static 'images/instagram.png' %}" width="40px" height="50px" alt=""  class="img-fluid  p-1 mb-2 pb-2" >
          <img src="{% static 'images/twitter.png' %}" width="40px" height="50px" alt="" class="img-fluid p-1 mb-2 pb-2"  >
          <img src="{% static 'images/email.png' %}" width="40px" height="50px" alt="" class="img-fluid p-1 mb-2 pb-2" >
        
      </div>

      <div class="col-md-3 col-lg-3 mx-auto">
        <h4 class="text-info mb-3">CONTACT US</h4>
        
          <p class="mb-2"><img src="{% static 'images/phone.png' %}" width="40px" height="50px" alt="" class="img-fluid "  >  892098218</a></p>
          <p class="mb-3"><img src="{% static 'images/home.png' %}" width="40px" height="50px" alt="" class="img-fluid "  > Kochi, Kakkanad</a></p>

      </div>
      

      </div>

    </div>
  </div>
</footer>
<br><br>
<div class=" text-center " style="text-align: center;">
  <div class="row">
  <div class="col">
    <p>@Copyright 2023</p>
  </div>
</div>
</div>
</div>


<!-- FOOTER -->



</body>

</html>