<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Home</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">

  <style>
    /* navbar */
    .input-group {
      width: 40%;
    }

    #item {
      width: 20px;
    }

    p{
        font-size: 22px;
    }
    .navsetting {
    padding-right: 5%;
    
  }

  
    @media (max-width: 768px) {
      .navtext{
        text-align: center;
        width: 100%;
        margin-right: 0;
  
      }
    }

   
  </style>

</head>

<body>



  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-info shadow-lg">
    <a class="navbar-brand mr-5 text-light" href="#"><h3 style="font-family: 'Chakra Petch', sans-serif;">Library Management</h3></a>
    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  nav-pills ">
        <li class="nav-item mr-auto px-3 navtext">
          <a class="nav-link text-white  text-center p-2"
            href="{% url 'libraryhomePage' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>HOME</b><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-auto px-3 navtext">
          <a class="nav-link text-white  text-center p-2"
            href="{% url 'libraryhomeBooks' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>BOOKS</b></a>
        </li>
        <li class="nav-item mr-auto px-3 navtext">
            <a class="nav-link text-white   text-center p-2"
              href="{% url 'libraryhomeAboutPage' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>ABOUT</b></a>
          </li>
          <li class="nav-item mr-auto px-3 navtext">
            <a class="nav-link text-white bg-dark active text-center p-2"
              href="{% url 'libraryhomeContactPage' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>CONTACT</b></a>
          </li>
      </ul>





      <div class="ml-auto  navsetting">
        <ul class="navbar-nav navtext">

          <li class="nav-item dropdown navtext">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'images/setting.gif' %}" width="40px" height="40px" alt="">
            </a>
            <div class="dropdown-menu  bg-info border-dark mx-auto  "  id="item" aria-labelledby="navbarDropdown">
              <a class="dropdown-item bg-info text-white text-center"  href="{% url 'loginPage' %}" style="font-size: 21px;font-family: 'Chakra Petch', sans-serif;"><b>LOGIN</b></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar -->

 
<br><br>
  <div class="container-fluid">
    <h1 class="text-info">CONTACT US</h1>
    
    <hr>


    <div class=" mt-3">

      <p> If you have any queries or complaints about our content please feel free to reach us out using the following links:

       </p>
       <br>
      
       
    <div class="container mx-auto">
      <center>
       
         <img src="{% static 'images/email.png' %}" width="60px" height="50px" alt="" class="img-fluid mb-2" >
        <p class="mb-5">librarysys@support.in</p>
        <img src="{% static 'images/phone.png' %}" width="60px" height="50px" alt="" class="img-fluid mb-2"  >
        <p class="mb-5" >+91-9892098218</p>
        <img src="{% static 'images/instagram.png' %}" width="60px" height="50px" alt="" class="img-fluid  mb-2"  >
        <p class="mb-5">library_sys</p>
        <img src="{% static 'images/twitter.png' %}" width="60px" height="50px" alt="" class="img-fluid mb-2"  >
        <p class="mb-3">librarysystem</p>
      </center>
      </div>
    </div>
    <br>
  
    </div>


  </div>


<br>
<br>
<br>
<br>
<br>
<hr>
<footer class="bg-shadow mt-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 mx-auto">
        <h4 class="text-info mb-3">ABOUT US</h4>
        <p class="text-dark">A Library Management System is software that is designed to manage all the functions of a library</p>


      </div>

    

      <div class="col-md-3 col-lg-3 mx-auto">
        <h4 class="text-info mb-3">&nbsp;SOCIALS</h4>
      
          <img src="{% static 'images/instagram.png' %}" width="40px" height="50px" alt=""  class="img-fluid  p-1 mb-2 pb-2" >
          <img src="{% static 'images/twitter.png' %}" width="40px" height="50px" alt="" class="img-fluid p-1 mb-2 pb-2"  >
          <img src="{% static 'images/email.png' %}" width="40px" height="50px" alt="" class="img-fluid p-1 mb-2 pb-2" >
        
      </div>

      <div class="col-md-3 col-lg-3 mx-auto">
        <h4 class="text-info mb-3">CONTACT US</h4>
        
          <p class="mb-2"><img src="{% static 'images/phone.png' %}" width="40px" height="50px" alt="" class="img-fluid "  >  892098218</a></p>
          <p class="mb-3"><img src="{% static 'images/home.png' %}" width="40px" height="50px" alt="" class="img-fluid "  > Kochi, Kakkanad</a></p>

      </div>
      

      </div>

    </div>
  </div>
</footer>
<br><br>
<div class=" text-center bg-light" style="text-align: center;">
  <div class="row">
  <div class="col">
    <p>@Copyright 2023</p>
  </div>
</div>
</div>
</div>


<!-- FOOTER -->



</body>

</html>