<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>User Rental History</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<style>


	body{
	font-family: 'Poppins', sans-serif;
}

/* side-nav bar */

#sidebar.active {
    margin-left: -250px;
}

.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	color: #fff;
	transition: all 0.4s; 
}


#sidebar .sidebar-header{
	padding: 30px;
}
#sidebar ul.components{
	padding: 20px 0;
	
}


#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

a[data-toggle="collapse"]{
	position: relative;
}

#content{
	width: 100%;
	padding-bottom: 30px;
	min-height: 163vh;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

	.table-cont table{
		margin-left: 0;
	}
}
/* side-nav bar */


 /* search bar */
.input-group{
        width: 40%;
       }

	   .table-cont{
		max-width: 85% !important;

	   }


</style>
<body>


<!-- navbar -->
<div class="wrapper">
	
 <nav id="sidebar" class="bg-info">
 	
 	 <div class="sidebar-header bg-info" >
 	 	<h2 style="font-family: 'Chakra Petch', sans-serif;">Library Management</h2>
 	 </div>

	 <hr>

	 <ul class="list-unstyled components">
		<li class="active pb-3">
			<a href="{% url 'userhomePage' %}" class="nav-item  bg-dark text-white "
				style="text-decoration: none; font-size: 23px;font-family: 'Chakra Petch', sans-serif;"><img src="{% static 'images/hm.png' %}" width="30px" height="30px" alt="">  HOME </a>
		</li>
		
		<li class="pb-3">
			<a href="{% url 'userProfile' user.id %} " class="nav-item  text-white"
				style="text-decoration: none;font-size: 23px;font-family: 'Chakra Petch', sans-serif;"><img src="{% static 'images/user3.png' %}" width="30px" height="30px" alt=""> PROFILE</a>
		</li>
		<li class="pb-3">
			<a href="{% url 'userBook' %}" class="text-white " style="text-decoration: none;font-size: 23px;font-family: 'Chakra Petch', sans-serif;" ><img src="{% static 'images/buk.png' %}" width="30px" height="30px" alt=""> BOOKS</a>
		</li>

 	 	 	 	


				  <li>
					<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white" style="text-decoration: none;"><img src="{% static 'images/setting.gif' %}" width="40px" height="40px" alt=""></a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li>
							<a href="{% url 'logout' %}" class="text-white" style="text-decoration: none;font-size: 23px;font-family: 'Chakra Petch', sans-serif;">LOGOUT</a>
						</li>
 	 		</ul>
 </nav>


<div id="content" >	
	
  <nav class="navbar navbar-expand-lg navbar-light bg-info ">
	<button type="button" id="sidebarCollapse" class="btn  btn-light shadow-lg border-secondary">
		<img src="{% static 'images/menu.png' %}" width="10px" height="10px" alt="">
	</button>
  	  </nav>

<br><br>
<div class="container">


<h1 class="text-info text-center"><b>RENTAL HISTORY</b></h1>

</div>
<br><br>



<div class="container-fluid text-center table-cont">
	
	<table class="table table-striped table-responsive " style="margin: auto;">
	  <thead class="bg-dark text-white text-center">
		 <tr class="table-bordered" style="font-size: 23px; ">
			 <th>BOOK NAME</th>
			 <th>QUANTITY</th>
			 <th>RENT DATE</th>
			 <th>RENTAL PERIOD</th>
			 <th>DUE DATE</th>
			 <th>RETURN STATUS</th>
			 
		 </tr>
	 </thead>
	 <tbody>
		{% for h in histories %}
		 <tr class="text-center table-bordered" style="font-size: 23px;">
			 <td> {{ h.User_Rent_Book.Book_name }} </td>
			 <td>  {{ h.Rental_books_quantity }} </td>
			 <td> {{ h.Rent_date }} </td>
			 <td> {{ h.Rental_period }} days </td>
			 <td> {{ h.Due_date }} </td>
			 <td> 

				{% if h.is_returned and not h.is_lost %}
					Returned
				{% elif h.is_lost and h.is_returned %}
					Lost
				{% else %}
				    Not Returned
				{% endif %}

			 </td>
		 </tr>
		 {% endfor %}
	 </tbody>
	</table>

	 </div>

	











	<!-- <div class="container tablecont">

        <table class="table table-responsive table-striped ">
            <thead class="bg-dark">
                <tr class="text-white text-center">
                    <th><h2>BOOK NAME</h2></th>
                    <th><h2>QUANTITY</h2></th>
                    <th><h2>RENT DATE</h2></th>
                    <th><h2>RENTAL PERIOD</h2></th>
                    <th><h2>DUE DATE</h2></th>
					<th><h2>RETURN STATUS</h2></th>
                </tr>
            </thead>

            <tbody>
				{% for h in histories %}
                
                <tr class="text-center">
                    <td><h3>{{ h.User_Rent_Book.Book_name }}</h3></td>
                    <td><h3>{{ h.Rental_books_quantity }}</h3></td>
                    <td><h3>{{ h.Rent_date }}</h3></td>
                    <td><h3>{{ h.Rental_period }} days</h3></td>
                    <td><h3>{{ h.Due_date }}</h3></td>
					<td>
						{% if h.is_returned %}
						<h3>Returned</h3>
						{% else %}
						<h3>Not Returned</h3>
						{% endif %}

					</td>

                </tr>
				{% endfor %}
            </tbody>
                
        </table>


		</div> -->
<br><br>



<br><br>

<br><br>

<br><br>
	
     
</div>
    
</div>

</div>

<!-- navbar -->










<script>

	$(document).ready(function () {
				$('#sidebarCollapse').on('click', function () {
					$('#sidebar').toggleClass('active');
				});
			});
	
	</script>
	

</body>
</html>